@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
  font-family: "Rubik", sans-serif;
  /* Weights: 400, 500, 700 */
  font-size: 18px;
}

.header {
  background-image: url("./images/pattern-bg.png");
  width: 375px;
  text-align: center;
  height: 35vh;
  position: relative;
}

h1 {
  color: white;
  font-weight: 500;
  font-size: 24px;
  padding: 20px;
}

.search {
  /* line-height: 1.2rem; */
  box-sizing: content-box;
}

input {
  /* border-radius: 12px; */
  padding: 10px 15px;
  width: 280px;
  outline: none;
  border-width: 0px;
}

button {
  background-color: black;
  font-size: 22px;
  width: 36px;
  padding: 10px 15px;
  border: none;
}

.info {
  background-color: white;
  position: absolute;
  left: 30%;
  bottom: -30%;
  z-index: 1;
  border-radius: 12px;
  padding: 20px;
}

.map {
  height: 65vh;
  width: 375px;
}
